<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webspeaks_ProductsGrid::productsgrid" title="Product Grid" module="Webspeaks_ProductsGrid" sortOrder="100" parent="Magento_Catalog::catalog" resource="Webspeaks_ProductsGrid::productsgrid" action="wsproductsgrid/contacts"/>
    </menu>
</config>
